.Todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 1%;
  min-height: 100vh;
  font-size: calc(12px + 2vmin);
  text-align: center;
  color: black;
  background-color: teal;
}

header {
  margin: 2% 0% 0% 0%;
  padding: 2% 0% 1% 0%;
  width: 50%;
  border-radius: 20px 20px 0px 0px;
  background-color: cadetblue;
  color: white;
}

.TodoFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 2%;
  height: 25rem;
  width: 50%;
  overflow-x: hidden;
  overflow-y : auto;
  background-color: white;
}

.TodoForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2% 0% 1% 0%;
  width: 50%;
}

.TodoFormInput {
  margin: 0% 4% 0% 0%;
}

.TodoFormButton {
  margin: 0% 0% 0% 4%;
  width: 25%;
}

footer {
  margin: 0% 0% 2% 0%;
  padding: 1% 0% 0% 0%;
  text-align: center;
  width: 50%;
  border-radius: 0px 0px 20px 20px;
  background-color: cadetblue;
  color: white;
}

footer p {
  font-size: 18px;
  font-weight: bold;
}

footer p a {
  color: white;
}

footer p a:hover {
  text-decoration: none;
  color: white;
}

/* Media queries for phones */
@media only screen and (min-width: 240px) and (max-width: 480px) {
  .Todo { padding: 0%; }
  header { margin: 0%; padding: 5% 0% 1% 0%; width: 100%; border-radius: 10px 10px 0px 0px; }
  .TodoFormBody { padding: 1%; width: 100%; height: 15rem; }
  .TodoForm { margin: 3% 0% 1% 0%; width: 100%; }
  .TodoFormInput { margin: 0% 1% 0% 0%; }
  .TodoFormButton { margin: 0% 0% 0% 1%; width: 30%; }
  footer { margin: 0% 0% 1% 0%; width: 100%; border-radius: 0px 0px 10px 10px; }
} 

/* Media queries for tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .Todo { padding: 1%; }
  header { margin: 2% 0% 0% 0%; padding: 3% 0% 1% 0%; width: 100%; border-radius: 10px 10px 0px 0px; }
  .TodoFormBody { padding: 0%; width: 100%; height: 20rem; }
  .TodoForm { margin: 3% 0% 1% 0%; width: 80%; }
  .TodoFormInput { margin: 0% 1% 0% 0%; }
  .TodoFormButton { margin: 0% 0% 0% 1%; width: 26%; }
  footer { margin: 0% 0% 2% 0%; width: 100%; border-radius: 0px 0px 10px 10px; }
}